<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hyundai">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".activity.create_product"></activity>
        <activity android:name=".activity.create_user" />
        <activity android:name=".activity.list_riwayat" />
        <activity android:name=".activity.list_user" />
        <activity android:name=".activity.list_product" />
        <activity android:name=".activity.Leader" />
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.locked" />
        <activity android:name=".activity.SelectScanner" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.darryncampbell.datawedge.java.ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>